<div class="row">
  <div class="col-12 col-md-3">
    <%= render('rooms') %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Rails5 聊天室
      </h4>

      <p>
        使用ActionCable跟Redis
      </p>

      <hr />

      <p>
        練習用的rails server
      </p>
    </div>
  </div>
</div>